[submodule "tmux"]
	path = tmux
	url = git@github.com:sayandipdutta/tmux.git
[submodule "zshconfig"]
	path = zshconfig
	url = git@github.com:sayandipdutta/zshconfig.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:sayandipdutta/nvim.git
[submodule "bat"]
	path = bat
	url = git@github.com:sayandipdutta/bat.git
[submodule "lazygit"]
	path = lazygit
	url = git@github.com:sayandipdutta/lazygit.git
[submodule "komorebi"]
	path = komorebi
	url = git@github.com:sayandipdutta/komorebi.git
